<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SPONSORLAR</h2>
                   
                </div>
                <div class= turkcell>
                    <div style="float: left;">
                     <a href="https://www.turkcell.com.tr/" target="_blank" >
    
                        <img src="img/turkcell.jpg"  width="200" height="200" ></a>
                        
                </div>
                <div class= yemeksepeti>
                    <div style="float: left;">
                     <a href="https://www.yemeksepeti.com//" target="_blank" >
    
                        <img src="img/Yemeksepeti.jpg"  width="200" height="200" ></a>
                        
                </div>
                <div class= kosgeb>
                    <div style="float: left;">
                     <a href="https://kosgeb.gov.tr/" target="_blank" >
    
                        <img src="img/kosgeb.jpg"  width="200" height="200" ></a>
                        
                </div>
                <div class= gainglobal>
                    <div style="float: left;">
                     <a href="https://gainglobal.com.tr/" target="_blank" >
    
                        <img src="img/gain.jpg"  width="200" height="200" ></a>
                        
                </div>
                <div class= makro>
                    <div style="float: left;">
                     <a href="https://makroconsult.com.tr/sosyal-girisimcilik-semineri/?lang=tr" target="_blank" >
    
                        <img src="img/makro.jpg"  width="200" height="200" ></a>
                        
                </div>
                
               
            
        </div>
    </section>