<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">konuşmacılar</h2>
                   
                </div>
            </div>
            <div class= sertaç>
                <div style="float: left;">
                <a href="https://www.sertactasdelen.com/" target="_blank" >

                    <img src="img/fal.jpg"  width="350" height="250"></a>
                    <h4>sertaç taşdelen</h4>
                    <p>Falaadin kurucusu</p>
            </div>
        </div>
            <div class= "ilhan">
                <div style="float: left;">
                <a href="http://markabulusmalari.com.tr/ilhan-yilmaz" target="_blank">

                    <img src="img/monster.jpg"  width="270" height="250" class= "solakaydır"></a>
                    
                    <h4>ilhan yılmaz </h4>
                    <p>Monster Sahibi</p>
                    </div>

            </div>
            <div class= nevzataydın>
                <div style="float: left;">
                 <a href="https://www.haberler.com/nevzat-aydin/biyografisi/" target="_blank" >

                    <img src="img/yemek.jpg"  width="250" height="250"></a>
                    <h4>Nevzat Aydın</h4>
                    <p>Yemek sepeti CEO</p>
            </div>
            <div class= ilkerdikel>
                <div style="float: left;">
                 <a href="https://redcet.com/profil/ilkerdiker/" target="_blank" >

                    <img src="img/papara.jpg"  width="270" height="250"></a>
                    <h4>İlker Dikel</h4>
                    <p>Paparanın CEO</p>
            </div>
            
        </div>
    </section>
