<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">hakkımızda</h2>
                   </div>
            </div>
            <h4>2014 yılından beri her sene düzenlenen girişimcilik seminerinin 7.'si bu sene istanbul Lütfü Kırdar Kongre Merkezinde düzenlenecektir. Başladığı tarihten itabaren yoğun ilgi gören girişimcilik seminerinin bu seneki özel konukları Falaaddin uygulmasının kurucusu Sertaç Taşdelen, Monster bilgisayarlarının kurucusu İlhan Yılmaz, YemekSepeti kurucusu ve ceo'su Nevzat Aydın, Papara Bankacılık kurucusu ve ceo'su İlker Dikel seminerimizde konuşma yapacaktır.  </h4>
        </div>
    </section>